@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: 0;
  list-style: none;
  border: 0;
}

:root{
  --color-bg: #D8BCAB;
  --color-bg-varient: #f1a06d;
  --color-text:black;
  --color-txt: #00008B;
  --color-accent1: #800020;
  --color-accent2: #023020;

  --color-light: rgb(223, 219, 219);
  --color-white: #fff;

  --transition: all ease 400ms;
}

::-webkit-scrollbar{
  width: 1.2rem;
}

::-webkit-scrollbar-thumb{
  background-color: var(--color-bg);
  border-radius: 10px;
  border: .35em solid var(--color-white);
}
::-webkit-scrollbar-thumb:hover{
  background-color: var(--color-bg-varient);
}

::-webkit-scrollbar-track{
  background-color: var(--color-white);
  border-radius: 4px;
}

@supports (scrollbar-color: var(--color-white) var(--color-bg-varient)){
  *{
    scrollbar-color: var(--color-bg-varient) var(--color-white);
    scrollbar-width: normal;
  }
}

html{
  height: 100%;
}

body {
    background-color: var(--color-bg);
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    display: grid;
    min-height: 100%;
  }

a{
  color: var(--color-accent1);
}

a:hover{
  color: var(--color-txt);
}